<footer class="footer">
    <div class="footer-wrap-logo">
        <a href="">
            <img src="./src/images/footer/mob-footer.png" alt="">
            <svg class="footer-logo-icon" width="16" height="16">
                <use href=""></use>
            </svg>
            <span class="footer-logo-name">Veggieboost</span>
        </a>
    </div>
    <div class="footer-wrap-nav">
        <ul class="navigation-list">
            <li class="navigation-item">
                <a href="" class="navigation-link link">How It Works</a>
            </li>
            <li class="">
                <a href="" class="navigation-link link">Vegetables</a>
            </li>
            <li class="navigation-item">
                <a href="" class="navigation-link link">Contacts</a>
            </li>
        </ul>
    </div>
    <div class="footer-wrap-contact">
        <ul class="footer-media-list list">
            <li class="footer-media-item">
                <a href="" class="footer-media-link link">
                    <svg class="footer-media-icon">
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-media-item">
                <a href="" class="footer-media-link link">
                    <svg class="footer-media-icon">
                        <use href="./images/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-media-item">
                <a href="" class="footer-media-link link">
                    <svg class="footer-media-icon">
                        <use href="./images/icons.svg#youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <a href="tel:+380684439426" class="tel-link link">+380 (68) 443-94-26</a>
        <p class="address-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
</footer>
