<!-- <header class="header"></header> -->
<section class="">
    <div class="">
        <h2 class="">3 Easy Steps for Buying Fresh Vegetables</h2>
        <ol class="">
            <li class="">
                <p class="">Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
            </li>
            <li class="">
                <p class="">Click on the basket and fill out the form.</p>
            </li>
            <li class="">
                <p class="">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
        <img class="" src="../images/how-it-works/mobile/girl.png" width="258" alt="">
    </div>
</section>