<!-- <header class="header"></header> -->
<section class="steps">
    <div class="steps-container">
        <h2 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h2>
        <ol class="">
            <li class="">
                <p class="">Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
            </li>
            <li class="">
                <p class="">Click on the basket and fill out the form.</p>
            </li>
            <li class="">
                <p class="">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
        <img class="" src="../images/how-it-works/mobile/girl.png" width="258" alt="">
        <!-- <picture>
            <source srcset="./images/img-5.jpg 1x, ./images/img-desktop-5@2x.jpg 2x " media="(min-width:1200px)">
            <source srcset="./images/img-5.jpg 1x, ./images/img-tablet-5@2x.jpg 2x " media="(min-width:768px px)">
            <source srcset="./images/img-5.jpg 1x, ./images/img-mobil-5@2x.jpg 2x " media="(min-width:320px)">
            <img class="pic" src="./images/img-5.jpg" alt="employer Developer" width="264">
        </picture> -->
    </div>
</section>