<section class="vegetable" id="vegetables">
  <div class="container vegetable-container">
    <h2 class="vegetable-title">ORGANIC VEGETABLES</h2>
    <p class="vegetable-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetable-list">
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Carrot</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/carrot.png 1x,
                ./images/vegetables/desktop/carrot.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/carrot.png 1x,
                ./images/vegetables/tablet/carrot.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/carrot.png 1x,
                ./images/vegetables/mobile/carrot.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/carrot.png"
              alt="Carrot"
            />
          </picture>
        </div>
        <p class="vegetable-price">100 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Brussel sprouts</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <!-- picture -->
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Brussel.png 1x,
                ./images/vegetables/desktop/Brussel.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Brussel.png 1x,
                ./images/vegetables/tablet/Brussel.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Brussel.png 1x,
                ./images/vegetables/mobile/Brussel.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Brussel.png"
              alt="Brussel"
            />
          </picture>
        </div>
        <p class="vegetable-price">80 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Tomato</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Tomato.png 1x,
                ./images/vegetables/desktop/Tomato.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Tomato.png 1x,
                ./images/vegetables/tablet/Tomato.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Tomato.png 1x,
                ./images/vegetables/mobile/Tomato.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Tomato.png"
              alt="Tomato"
            />
          </picture>
        </div>
        <p class="vegetable-price">40 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Eggplant</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Eggplant.png 1x,
                ./images/vegetables/desktop/Eggplant.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Eggplant.png 1x,
                ./images/vegetables/tablet/Eggplant.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Eggplant.png 1x,
                ./images/vegetables/mobile/Eggplant.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Eggplant.png"
              alt="Eggplant"
            />
          </picture>
        </div>
        <p class="vegetable-price">60 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Sweet potatoes</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/potatoes.png 1x,
                ./images/vegetables/desktop/potatoes.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/potatoes.png 1x,
                ./images/vegetables/tablet/potatoes.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/potatoes.png 1x,
                ./images/vegetables/mobile/potatoes.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/potatoes.png"
              alt="potatoes"
            />
          </picture>
        </div>
        <p class="vegetable-price">80 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Leek</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Leek.png 1x,
                ./images/vegetables/desktop/Leek.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Leek.png 1x,
                ./images/vegetables/tablet/Leek.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Leek.png 1x,
                ./images/vegetables/mobile/Leek.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Leek.png"
              alt="Leek"
            />
          </picture>
        </div>
        <p class="vegetable-price">50 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Mushrooms</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Mushrooms.png 1x,
                ./images/vegetables/desktop/Mushrooms.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Mushrooms.png 1x,
                ./images/vegetables/tablet/Mushrooms.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Mushrooms.png 1x,
                ./images/vegetables/mobile/Mushrooms.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Mushrooms.png"
              alt="Mushrooms"
            />
          </picture>
        </div>
        <p class="vegetable-price">40 UAH/kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-subtitle">Corn</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Corn.png 1x,
                ./images/vegetables/desktop/Corn.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/vegetables/tablet/Corn.png 1x,
                ./images/vegetables/tablet/Corn.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/vegetables/mobile/Corn.png 1x,
                ./images/vegetables/mobile/Corn.png 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/mobile/Corn.png"
              alt="Corn"
            />
          </picture>
        </div>
        <p class="vegetable-price">60 UAH/kg</p>
      </li>

      <li class="vegetable-item redish-img">
        <h3 class="vegetable-subtitle">Radish</h3>
        <p class="vegetable-desc">Plant</p>
        <div class="vegetable-wrap">
          <picture>
            <source
              srcset="
                ./images/vegetables/desktop/Redish.png 1x,
                ./images/vegetables/desktop/Redish.png 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="vegetable-img"
              src="./images/vegetables/desktop/Redish.png"
              alt="Redish"
            />
          </picture>
        </div>
        <p class="vegetable-price">90 UAH/kg</p>
      </li>
    </ul>
    <!-- Button -->
    <div class="vegetable-btn-wrap">
      <button type="button" class="vegetable-button" data-modal-open>
        <svg class="vegetable-icon" width="14" height="14">
          <use href="./images/icons.svg#Vector"></use>
        </svg>
        <span class="vegetable-text-btn">ORDER</span>
      </button>
    </div>
  </div>
</section>
