.steps {
    background-color: var(--milk-mustache-color);
    background-image: url(../images/how-it-works/mobile/background.png);
    background-repeat: no-repeat;
    border-radius: 40px;

}   

.steps-container {}

.steps-title {
    color: var(--text-color);
    font-style: normal;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;
}

.steps-list {}

.steps-item {}

.steps-text {}

.steps-picture {}

.steps-img {

}

.pic {}

/*=========MEDIA=========*/

/*===media-375px===*/

/*===media-768px===*/

/*===media-1200px===*/